docs/Franchise Territory Checks - Third Draft.json
{
  "name": "Franchise Territory Checks - Third Draft",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "2cc3f72f-5a01-411f-ba8b-7926de1ac270",
      "name": "-> Territory Checks",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail (FranchiseTRFA)"
        }
      },
      "notes": "Monitors Gmail for new unread emails matching franchise inquiry keywords in subject line"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Enhanced Email Parser for Territory Check Workflow\n// Handles 5 network formats: Direct Forms, IFPG, FranServe, FBA, TYN\n// Version: 2.0 - Fixed prospect_email extraction issue\n\nconst emailBody = $input.item.json.text || $input.item.json.textPlain || $input.item.json.textHtml || '';\nconst emailSubject = $input.item.json.subject || '';\nconst emailHeaders = $input.item.json.headers || {};\nconst fullText = emailSubject + '\\n' + emailBody;\n\n// Get Reply-To for broker email (common in automated systems)\n// For forwarded emails, extract from the forwarded message section in the body\nlet replyToEmail = null;\n\nif (emailBody) {\n  // First, try to extract from forwarded message headers in body (common in IFPG forwarded emails)\n  // Pattern matches: \"Reply-To: email@domain.com\" or \"Reply-To:\\nemail@domain.com\"\n  // Use word boundary or whitespace/newline to stop at the end of the email\n  const replyToBodyMatch = emailBody.match(/Reply-To[:\\s]+([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})(?:\\s|$|\\n|To:|From:)/i);\n  if (replyToBodyMatch && replyToBodyMatch[1]) {\n    replyToEmail = replyToBodyMatch[1].trim();\n    // Exclude forwarding account emails\n    if (replyToEmail.includes('franchise@therealfoodacademy.com') || \n        replyToEmail.includes('franchisetrfa@gmail.com')) {\n      replyToEmail = null;\n    }\n  }\n}\n\n// Fallback to email headers if not found in body (for non-forwarded emails)\nif (!replyToEmail) {\n  let replyToHeader = emailHeaders['reply-to'] || emailHeaders['Reply-To'] || '';\n  if (replyToHeader) {\n    const replyToMatch = replyToHeader.match(/<([^>]+)>/);\n    replyToEmail = replyToMatch ? replyToMatch[1] : replyToHeader.trim();\n    // Exclude forwarding account emails\n    if (replyToEmail && (replyToEmail.includes('franchise@therealfoodacademy.com') || \n        replyToEmail.includes('franchisetrfa@gmail.com'))) {\n      replyToEmail = null;\n    }\n  }\n}\n\n// Extract date from forwarded message section for use in Territory Checks field\n// Format: \"Date:Mon, 03 Nov 2025 20:52:26 +0000\" (no space after colon) or \"Date: Mon, 10 Nov 2025 14:56:03 +0000\"\nlet originalEmailDate = null;\nlet formattedTerritoryCheckDate = null;\n\nif (emailBody) {\n  // Try to extract date from forwarded message section\n  // Pattern matches various formats:\n  // - \"Date:Mon, 03 Nov 2025 20:52:26 +0000\" (no space after colon) - PRIMARY FORMAT\n  // - \"Date: Mon, 10 Nov 2025 14:56:03 +0000\" (space after colon)\n  // - \"AcademyDate: Mon, 10 Nov 2025 14:56:03 +0000\" (attached to previous word)\n  const datePatterns = [\n    // Pattern 1: \"Date:\" followed by optional whitespace, then day name - handles both \"Date:Mon\" and \"Date: Mon\"\n    /Date:\\s*([A-Za-z]{3},\\s+\\d{1,2}\\s+[A-Za-z]{3}\\s+\\d{4}\\s+\\d{2}:\\d{2}:\\d{2}\\s+[+-]\\d{4})/i,\n    // Pattern 2: Date attached to previous word (like \"AcademyDate:\")\n    /\\w+Date:\\s*([A-Za-z]{3},\\s+\\d{1,2}\\s+[A-Za-z]{3}\\s+\\d{4}\\s+\\d{2}:\\d{2}:\\d{2}\\s+[+-]\\d{4})/i\n  ];\n  \n  let dateMatch = null;\n  for (const pattern of datePatterns) {\n    dateMatch = emailBody.match(pattern);\n    if (dateMatch && dateMatch[1]) {\n      break;\n    }\n  }\n  \n  if (dateMatch && dateMatch[1]) {\n    try {\n      // Parse the date string (format: \"Mon, 03 Nov 2025 20:52:26 +0000\")\n      const dateStr = dateMatch[1].trim();\n      const parsedDate = new Date(dateStr);\n      \n      // Check if date is valid\n      if (!isNaN(parsedDate.getTime())) {\n        originalEmailDate = dateStr;\n        \n        // Format as MM/dd/yyyy for Territory Checks field\n        const month = String(parsedDate.getMonth() + 1).padStart(2, '0');\n        const day = String(parsedDate.getDate()).padStart(2, '0');\n        const year = parsedDate.getFullYear();\n        formattedTerritoryCheckDate = `${month}/${day}/${year}`;\n      }\n    } catch (e) {\n      // If parsing fails, leave as null\n      originalEmailDate = null;\n      formattedTerritoryCheckDate = null;\n    }\n  }\n}\n\n// Helper function to extract field with multiple patterns\nfunction extractField(text, patterns, options = {}) {\n  const { returnNull = true, trim = true } = options;\n\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match && match[1]) {\n      const value = trim ? match[1].trim() : match[1];\n      if (value.length > 0) {\n        return value;\n      }\n    }\n  }\n  return returnNull ? null : '';\n}\n\n// Extract email addresses from body text (not headers)\nfunction extractEmailFromBody(text, label) {\n  // Only extract if explicitly labeled\n  const patterns = [\n    new RegExp(`${label}[:\\\\s]+([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\\\.[a-zA-Z]{2,})`, 'i'),\n    new RegExp(`${label}[:\\\\s]+<([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\\\.[a-zA-Z]{2,})>`, 'i')\n  ];\n\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match && match[1]) {\n      const email = match[1].trim();\n      // Exclude forwarding account emails\n      if (!email.includes('franchise@therealfoodacademy.com') &&\n          !email.includes('franchisetrfa@gmail.com')) {\n        return email;\n      }\n    }\n  }\n  return null;\n}\n\n// ============================================================================\n// NETWORK IDENTIFICATION\n// ============================================================================\nlet network = 'Unknown';\n\nif (fullText.match(/fbamembers\\.com|FBA Broker|Broker's Information:/i)) {\n  network = 'FBA';\n} else if (fullText.match(/ifpg\\.org|IFPG Member|IFPG Inbox/i)) {\n  network = 'IFPG';\n} else if (fullText.match(/franserve|FranServe Consultant/i)) {\n  network = 'FranServe';\n} else if (fullText.match(/theyounetwork\\.com|TYN/i)) {\n  network = 'TYN';\n} else if (fullText.match(/First Name\\*:|Last Name\\*:|forms? completed at/i)) {\n  network = 'Direct';\n}\n\n// ============================================================================\n// PROSPECT INFORMATION EXTRACTION\n// ============================================================================\n\nlet prospectFirstName = null;\nlet prospectLastName = null;\nlet prospectName = null;\nlet prospectEmail = null;\nlet prospectCity = null;\nlet prospectState = null;\nlet prospectZip = null;\n\n// Prospect Email - ONLY from explicit body labels\nprospectEmail = extractEmailFromBody(emailBody, 'Prospect Email') ||\n                extractEmailFromBody(emailBody, 'Email');\n\nif (network === 'FBA') {\n  // FBA Format: Client's Information section with First/Last Name\n  prospectFirstName = extractField(fullText, [\n    /First Name[:\\s]+([A-Za-z]+)/i\n  ]);\n  prospectLastName = extractField(fullText, [\n    /Last Name[:\\s]+([A-Za-z]+)/i\n  ]);\n  if (prospectFirstName && prospectLastName) {\n    prospectName = `${prospectFirstName} ${prospectLastName}`;\n  }\n\n  prospectCity = extractField(fullText, [\n    /City[:\\s]+([A-Za-z\\s]+?)(?:\\n|,|$)/i\n  ]);\n  prospectState = extractField(fullText, [\n    /State[:\\s]+([A-Z]{2})\\b/i\n  ]);\n  prospectZip = extractField(fullText, [\n    /Zip[:\\s]+(\\d{5})/i\n  ]);\n\n} else if (network === 'FranServe') {\n  // FranServe Format: Prospect: Name followed by Prospect Email:\n  prospectName = extractField(fullText, [\n    /Prospect[:\\s]+([A-Za-z\\s&]+?)(?:\\n|$)/i\n  ]);\n\n  // City/State from \"Desired Territory\" or address info\n  const territory = extractField(fullText, [\n    /Desired Territory[:\\s]+([^\\n]+)/i\n  ]);\n  if (territory) {\n    const cityStateMatch = territory.match(/([A-Za-z\\s]+),\\s*([A-Z]{2})/);\n    if (cityStateMatch) {\n      prospectCity = cityStateMatch[1].trim();\n      prospectState = cityStateMatch[2].trim();\n    }\n  }\n\n} else if (network === 'IFPG') {\n  // IFPG Format: Candidate: Name\n  prospectName = extractField(fullText, [\n    /Candidate[:\\s]+([A-Za-z\\s]+?)(?:\\n|$)/i\n  ]);\n\n  // Extract city/state from \"Interested in...\" or territory description\n  const territoryMatch = fullText.match(/Interested in ([^(]+?)(?:Area|area)?\\s*\\(Lives in zip code (\\d{5})\\)/i);\n  if (territoryMatch) {\n    prospectCity = territoryMatch[1].trim().replace(/,.*$/, '').trim();\n    prospectZip = territoryMatch[2];\n  } else {\n    const cityStateMatch = fullText.match(/([A-Za-z\\s]+),\\s*([A-Z]{2})\\s+\\d{5}/);\n    if (cityStateMatch) {\n      prospectCity = cityStateMatch[1].trim();\n      prospectState = cityStateMatch[2].trim();\n    }\n  }\n\n} else if (network === 'TYN') {\n  // TYN Format: \"client living in [City], [State]\" or mentions names\n  const clientMatch = fullText.match(/client living in ([^,]+),\\s*([A-Z]{2})/i);\n  if (clientMatch) {\n    prospectCity = clientMatch[1].trim();\n    prospectState = clientMatch[2].trim();\n  }\n\n  // Try to extract prospect name from \"Please check your files/records for [Name]\"\n  // Pattern handles: \"check your records for Brandt Schmidt and Meredith Watt and register\"\n  prospectName = extractField(fullText, [\n    /check your (?:files|records) for ([A-Za-z\\s&]+?)\\s+and register/i,\n    /check your (?:files|records) for ([A-Za-z\\s&]+?)(?:\\s+and|\\s+register|$)/i,\n    /client[:\\s]+([A-Za-z\\s&]+?)(?:\\n|$)/i\n  ]);\n\n} else if (network === 'Direct') {\n  // Direct Form: First Name*, Last Name*, Email:, City:, State:\n  prospectFirstName = extractField(fullText, [\n    /First Name\\*?[:\\s]+([A-Za-z]+)/i\n  ]);\n  prospectLastName = extractField(fullText, [\n    /Last Name\\*?[:\\s]+([A-Za-z]+)/i\n  ]);\n  if (prospectFirstName && prospectLastName) {\n    prospectName = `${prospectFirstName} ${prospectLastName}`;\n  }\n\n  prospectCity = extractField(fullText, [\n    /City[:\\s]+([A-Za-z\\s]+?)(?:\\n|$)/i\n  ]);\n  prospectState = extractField(fullText, [\n    /State[:\\s]+([A-Z]{2})/i\n  ]);\n}\n\n// ============================================================================\n// TERRITORY EXTRACTION\n// ============================================================================\n\nlet territoryRequested = null;\n\n// Network-specific territory extraction\nif (network === 'FBA') {\n  // FBA: Territory appears after \"buttons below\" and before \"Territory Notes\"\n  const fbaMatch = fullText.match(/buttons below\\.?\\s*\\n\\s*([A-Za-z\\s]+,\\s*[A-Z]{2}\\s+\\d{5})/i);\n  if (fbaMatch) {\n    territoryRequested = fbaMatch[1].trim();\n  } else {\n    // Fallback: Look for City, ST ZIP pattern near Client's Information\n    const fallbackMatch = emailBody.match(/([A-Za-z\\s]+,\\s*[A-Z]{2}\\s+\\d{5})\\s*(?:\\n|$)/);\n    if (fallbackMatch) {\n      territoryRequested = fallbackMatch[1].trim();\n    }\n  }\n} else if (network === 'FranServe') {\n  // FranServe: \"Desired Territory: ...\"\n  territoryRequested = extractField(fullText, [\n    /Desired Territory[:\\s]+([^\\n]+)/i\n  ]);\n} else if (network === 'IFPG') {\n  // IFPG: Multiple territory formats possible\n  // Pattern 1: \"Interested in ... Area\" format\n  const interestedMatch = fullText.match(/Interested in ([^(]+?)(?:Area|area)?\\s*\\(Lives in zip code \\d{5}\\)/i);\n  if (interestedMatch) {\n    territoryRequested = interestedMatch[1].trim();\n  } else {\n    // Pattern 2: \"Prospect Name: [Name] -- Tcheck for: [Territory]\"\n    const tcheckMatch = fullText.match(/Tcheck for[:\\s]+([^(\\n]+?)(?:\\s*\\(zip|\\s*-\\s*if|\\n|CLICK|$)/i);\n    if (tcheckMatch) {\n      territoryRequested = tcheckMatch[1].trim();\n    } else {\n      // Pattern 3: Territory on line after \"Territory Check from [Name] for The Real Food Academy:\"\n      // This pattern handles the format: \"Territory Check from [Name] for The Real Food Academy:\\n\\n[Territory]\"\n      // IMPORTANT: Must have at least one newline after the colon to avoid capturing header text\n      const territoryLineMatch = fullText.match(/Territory Check from [^:]+:\\s*\\n+\\s*([A-Za-z\\s,]+?)(?:\\n|CLICK|$)/i);\n      if (territoryLineMatch) {\n        const captured = territoryLineMatch[1].trim();\n        // Make sure we didn't capture \"for The Real Food Academy\" or other unwanted text\n        // Also exclude any text that contains \"for The Real Food\" or \"IFPG Member\" as these are header text\n        if (captured && \n            !captured.match(/^(for The Real Food Academy|Prospect Name|CLICK|http|mailbox|IFPG Member|Territory Check)/i) &&\n            !captured.includes('for The Real Food') &&\n            captured.length > 2) {\n          territoryRequested = captured;\n        }\n      }\n      \n      // Pattern 4: More specific pattern - only match if there's a clear territory pattern after the colon\n      // This pattern requires the territory to look like a location (contains comma or state abbreviation)\n      if (!territoryRequested) {\n        const flexibleMatch = fullText.match(/Territory Check from [^:]+:\\s*\\n+\\s*([A-Za-z\\s,]+(?:,\\s*[A-Z]{2})?[A-Za-z\\s,]*?)(?:\\n|CLICK|$)/i);\n        if (flexibleMatch) {\n          const captured = flexibleMatch[1].trim();\n          // Strict validation: must not contain header keywords and must look like a location\n          if (captured && \n              !captured.match(/^(for The Real Food Academy|Prospect Name|CLICK|http|mailbox|IFPG Member|Territory Check)/i) &&\n              !captured.includes('for The Real Food') &&\n              (captured.includes(',') || captured.match(/\\b[A-Z]{2}\\b/)) && // Must contain comma or state abbreviation\n              captured.length > 2) {\n            territoryRequested = captured;\n          }\n        }\n      }\n      \n      // Pattern 5: Fallback - Look for territory pattern that appears after \"for The Real Food Academy:\" \n      // This is the most common IFPG format: \"Territory Check from [Name] for The Real Food Academy:\\n\\n[Territory]\"\n      if (!territoryRequested) {\n        const academyMatch = fullText.match(/for The Real Food Academy:\\s*\\n+\\s*([A-Za-z\\s,]+(?:,\\s*[A-Z]{2})?[A-Za-z\\s,]*?)(?:\\n|CLICK|$)/i);\n        if (academyMatch) {\n          const captured = academyMatch[1].trim();\n          // Must look like a location (contains comma or state abbreviation) and not be header text\n          if (captured && \n              !captured.match(/^(Territory Check|IFPG Member|Prospect Name|CLICK|http|mailbox)/i) &&\n              (captured.includes(',') || captured.match(/\\b[A-Z]{2}\\b/)) &&\n              captured.length > 2) {\n            territoryRequested = captured;\n          }\n        }\n      }\n    }\n  }\n} else if (network === 'TYN') {\n  // TYN: Extract from subject line or market description\n  const tynMatch = emailSubject.match(/Territory Check\\s*[–-]\\s*([^-]+?)\\s*-\\s*The Real Food Academy/i);\n  if (tynMatch) {\n    territoryRequested = tynMatch[1].trim();\n  } else {\n    // Fallback: look for market in body\n    territoryRequested = extractField(fullText, [\n      /in and around the ([^\\n]+?) market/i,\n      /living in ([^,]+,\\s*[A-Z]{2})/i\n    ]);\n  }\n} else if (network === 'Direct') {\n  // Direct: Use City, State from form\n  if (prospectCity && prospectState) {\n    territoryRequested = `${prospectCity}, ${prospectState}`;\n  }\n} else {\n  // Generic fallback patterns\n  const territoryPatterns = [\n    /Desired Territory[:\\s]+([^\\n]+)/i,\n    /Interested in ([^\\n]+?)(?:Area|area|market)/i,\n    /([A-Za-z\\s]+,\\s*[A-Z]{2}\\s+\\d{5})/,  // City, ST 12345 format\n    /([A-Za-z\\s]+,\\s*[A-Z]{2})(?:\\s+area|\\s+market)?/i\n  ];\n  territoryRequested = extractField(fullText, territoryPatterns);\n}\n\n// If we still don't have territory but have city/state, construct it\nif (!territoryRequested && prospectCity && prospectState) {\n  territoryRequested = prospectZip\n    ? `${prospectCity}, ${prospectState} ${prospectZip}`\n    : `${prospectCity}, ${prospectState}`;\n}\n\n// ============================================================================\n// BROKER/CONSULTANT INFORMATION EXTRACTION\n// ============================================================================\n\nlet brokerName = null;\nlet brokerEmail = null;\nlet brokerPhone = null;\nlet brokerCompany = null;\n\nif (network === 'FBA') {\n  brokerName = extractField(fullText, [\n    /Broker's Name[:\\s]+([A-Za-z\\s]+?)(?:\\n|$)/i\n  ]);\n  brokerEmail = extractEmailFromBody(emailBody, \"Broker's Email\");\n  brokerPhone = extractField(fullText, [\n    /Broker's Phone Number[:\\s]+([\\d\\s()+-]+?)(?:\\n|$)/i\n  ]);\n  brokerCompany = extractField(fullText, [\n    /Broker's Company[:\\s]+([^\\n]+)/i\n  ]);\n\n} else if (network === 'FranServe') {\n  brokerName = extractField(fullText, [\n    /Referring Consultant[:\\s]+([A-Za-z\\s]+?)(?:\\n|$)/i\n  ]);\n  brokerEmail = extractEmailFromBody(emailBody, 'Consultant Email');\n  brokerPhone = extractField(fullText, [\n    /Consultant Phone[:\\s]+([\\d\\s()+-]+?)(?:\\n|$)/i\n  ]);\n  brokerCompany = 'FranServe';\n\n} else if (network === 'IFPG') {\n  // Fix: Use non-greedy match and stop before \"for\" to avoid capturing \"for Multiple Franchises\"\n  const memberMatch = fullText.match(/Territory Check from IFPG Member ([A-Za-z\\s]+?)(?:\\s+for|$)/i);\n  if (memberMatch) {\n    brokerName = memberMatch[1].trim();\n  }\n\n  // IFPG uses Reply-To for broker email\n  if (replyToEmail && replyToEmail.includes('@')) {\n    brokerEmail = replyToEmail;\n  }\n\n  brokerPhone = extractField(fullText, [\n    /Phone[:\\s]+([\\d\\s()+-]+?)(?:\\n|$)/i\n  ]);\n  brokerCompany = 'IFPG';\n\n} else if (network === 'TYN') {\n  // TYN broker info from signature or \"register to [Name] at TYN\"\n  const signatureMatch = fullText.match(/Thanks,\\s+([A-Za-z\\s]+)(?:\\n|$)/i);\n  if (signatureMatch) {\n    brokerName = signatureMatch[1].trim();\n  } else {\n    // Fallback: extract from \"register to [Name] at TYN\"\n    const registerMatch = fullText.match(/register to ([A-Za-z\\s]+)\\s+at TYN/i);\n    if (registerMatch) {\n      brokerName = registerMatch[1].trim();\n    }\n  }\n\n  // TYN uses Reply-To or From email from forwarded message\n  if (replyToEmail && replyToEmail.includes('@')) {\n    brokerEmail = replyToEmail;\n  } else {\n    // Fallback: extract From email from forwarded message section\n    const fromMatch = emailBody.match(/From[:\\s]+[^<]*<([^>]+)>/i);\n    if (fromMatch && fromMatch[1]) {\n      const email = fromMatch[1].trim();\n      if (!email.includes('franchise@therealfoodacademy.com') && \n          !email.includes('franchisetrfa@gmail.com')) {\n        brokerEmail = email;\n      }\n    }\n  }\n\n  brokerCompany = 'The You Network';\n\n} else if (network === 'Direct') {\n  // No broker for direct inquiries\n  brokerName = 'Direct Inquiry';\n  brokerCompany = 'Website';\n}\n\n// ==================================================================\n// VALIDATION AND OUTPUT\n// ==================================================================\n\nconst requiredFields = {\n  network,\n  territoryRequested,\n  prospectName\n};\n\nconst missingFields = [];\nfor (const [field, value] of Object.entries(requiredFields)) {\n  if (!value || value.length < 2) {\n    missingFields.push(field);\n  }\n}\n\nconst allFieldsValid = missingFields.length === 0;\n\n// Determine if this is a territory check\nconst isTerritoryCheck = fullText.match(/territory check/i) !== null;\n\n// If prospect_name exists but first/last names don't, split the name\nif (prospectName && !prospectFirstName && !prospectLastName) {\n  const nameParts = prospectName.trim().split(/\\s+/);\n  if (nameParts.length > 0) {\n    prospectFirstName = nameParts[0];\n    if (nameParts.length > 1) {\n      prospectLastName = nameParts.slice(1).join(' ');\n    }\n  }\n}\n\nreturn {\n  json: {\n    // Original email data\n    emailId: $input.item.json.id,\n    emailSubject: emailSubject,\n    emailBody: emailBody.substring(0, 5000), // Truncate for storage\n    emailFrom: $input.item.json.from,\n    emailDate: $input.item.json.date,\n\n    // Classification\n    network: network,\n    is_territory_check: isTerritoryCheck,\n\n    // Prospect information\n    prospect_first_name: prospectFirstName,\n    prospect_last_name: prospectLastName,\n    prospect_name: prospectName,\n    prospect_email: prospectEmail, // Will be null if not explicitly in body\n    prospect_city: prospectCity,\n    prospect_state: prospectState,\n    prospect_zip: prospectZip,\n\n    // Territory\n    territory_requested: territoryRequested,\n    \n    // Date information for Territory Checks field\n    original_email_date: originalEmailDate, // Original date string from forwarded message\n    territory_check_date: formattedTerritoryCheckDate, // Formatted as MM/dd/yyyy for ActiveCampaign field 178\n\n    // Broker/Consultant information\n    consultant_first_name: brokerName ? brokerName.split(' ')[0] : null,\n    consultant_last_name: brokerName && brokerName.split(' ').length > 1\n      ? brokerName.split(' ').slice(1).join(' ')\n      : null,\n    consultant_name: brokerName,\n    consultant_email: brokerEmail,\n    consultant_phone: brokerPhone,\n    consultant_company: brokerCompany,\n\n    // Validation status\n    allFieldsValid: allFieldsValid,\n    missingFields: missingFields,\n    errorNotes: missingFields.length > 0\n      ? `Missing or ambiguous fields: ${missingFields.join(', ')}`\n      : null,\n\n    // Debug info\n    extraction_notes: {\n      prospect_email_found: prospectEmail !== null,\n      prospect_email_source: prospectEmail ? 'body_label' : 'not_found',\n      network_identified: network,\n      reply_to_available: replyToEmail !== '',\n      date_extracted: formattedTerritoryCheckDate !== null,\n      original_date_string: originalEmailDate\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        320
      ],
      "id": "17ef81c1-df05-40ac-afa6-f6e4c681a83a",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b482c9f-0501-4f22-a96d-95c274656182",
              "leftValue": "={{ $json.is_territory_check }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        320
      ],
      "id": "f29bcc42-7241-4588-b175-15242ab8ad99",
      "name": "Is Territory Check"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "additionalFields": {
          "email": "={{ $json.consultant_email }}"
        }
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -704,
        176
      ],
      "id": "cf984937-cba0-46f6-8d6c-397979ac3512",
      "name": "Find Consultant",
      "alwaysOutputData": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ActiveCampaign (API)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd803288-1f8b-42af-b7ff-6312fa2aecfb",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        16
      ],
      "id": "5257ff4e-b65c-4ab5-809a-5ed0d913f34c",
      "name": "Consultant Exists"
    },
    {
      "parameters": {
        "url": "=https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/{{ $json.id }}/fieldValues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -160
      ],
      "id": "e881dfa4-e801-49b7-b732-c3149dcc0f4f",
      "name": "Get Custom Fields",
      "credentials": {
        "activeCampaignApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ActiveCampaign (API)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Third Draft\n\nExtract fields now factors in the forwarded nature of the email. Fixing the Gmail trigger",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        32
      ],
      "typeVersion": 1,
      "id": "5b70a9b3-6fc3-44fe-8d81-5d603b5c1448",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json.fieldValues[0].contact }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "178",
                "value": "={{ $('Extract Fields').item.json.territory_check_date || $now.toFormat('MM/dd/yyyy') }} {{ $('Extract Fields').item.json.territory_requested }}\n{{ $('Get Custom Fields').item.json.fieldValues.find(item => item.field === \"178\")?.value || '' }}"
              },
              {
                "field": "=180",
                "value": "={{ $('Extract Fields').item.json.territory_requested }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        80,
        -160
      ],
      "id": "1fab1ea1-aa9d-4e7f-8d4c-4d0961b90c96",
      "name": "Update a contact",
      "credentials": {
        "activeCampaignApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ActiveCampaign (API)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Confirmed Progress\n\nConfirmed and tested through this node. ",
        "height": 320,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -304
      ],
      "typeVersion": 1,
      "id": "1560974d-4439-4664-ad1d-83a75b255e0d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "email": "={{ $('Extract Fields').item.json.consultant_email }}",
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "179",
                "value": "={{ $('Extract Fields').item.json.consultant_company }}"
              },
              {
                "field": "45",
                "value": "Consultant"
              },
              {
                "field": "178",
                "value": "=={{ $('Extract Fields').item.json.territory_check_date || $now.toFormat('MM/dd/yyyy') }} {{ $('Extract Fields').item.json.territory_requested }}"
              },
              {
                "field": "=180",
                "value": "={{ $('Extract Fields').item.json.territory_requested }}"
              }
            ]
          },
          "firstName": "={{ $('Extract Fields').item.json.consultant_first_name }}",
          "lastName": "={{ $('Extract Fields').item.json.consultant_last_name }}",
          "phone": "={{ $('Extract Fields').item.json.consultant_phone }}"
        }
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        80,
        144
      ],
      "id": "002b1583-c6e9-4b07-aed5-46f52c86fa42",
      "name": "Create a contact",
      "credentials": {
        "activeCampaignApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ActiveCampaign (API)"
        }
      }
    }
  ],
  "pinData": {
    "Get Custom Fields": [
      {
        "json": {
          "fieldValues": [
            {
              "contact": "11610",
              "field": "179",
              "value": "IFPG",
              "cdate": "2025-09-25T15:09:51-05:00",
              "udate": "2025-09-25T15:09:51-05:00",
              "created_by": null,
              "updated_by": null,
              "links": {
                "owner": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/owner",
                "field": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/field"
              },
              "id": "151728",
              "owner": "11610"
            },
            {
              "contact": "11610",
              "field": "45",
              "value": "Consultant",
              "cdate": "2025-09-25T15:09:51-05:00",
              "udate": "2025-09-25T15:09:51-05:00",
              "created_by": null,
              "updated_by": null,
              "links": {
                "owner": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/owner",
                "field": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/field"
              },
              "id": "151729",
              "owner": "11610"
            },
            {
              "contact": "11610",
              "field": "175",
              "value": "2025-09-25T16:09:52-04:00",
              "cdate": "2025-09-25T15:09:52-05:00",
              "udate": "2025-09-25T15:09:52-05:00",
              "created_by": null,
              "updated_by": null,
              "links": {
                "owner": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/owner",
                "field": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/field"
              },
              "id": "151733",
              "owner": "11610"
            },
            {
              "contact": "11610",
              "field": "178",
              "value": "11/13/2025 Atlantic County, NJ\n10/28/2025 Bagota, NJ Merida Mexico &. NYC NY \n10/16/2025 Tulsa, OK",
              "cdate": "2025-10-16T15:24:10-05:00",
              "udate": "2025-11-13T12:22:41-06:00",
              "created_by": "0",
              "updated_by": "0",
              "links": {
                "owner": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/owner",
                "field": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/field"
              },
              "id": "159531",
              "owner": "11610"
            },
            {
              "contact": "11610",
              "field": "180",
              "value": "Atlantic County, NJ",
              "cdate": "2025-10-16T15:24:10-05:00",
              "udate": "2025-11-13T12:20:33-06:00",
              "created_by": "0",
              "updated_by": "0",
              "links": {
                "owner": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/owner",
                "field": "https://YOUR_ACCOUNT.api-us1.com/api/3/fieldValues/FIELD_VALUE_ID/field"
              },
              "id": "159532",
              "owner": "11610"
            }
          ]
        }
      }
    ],
    "-> Territory Checks": [
      {
        "json": {
          "id": "19a74efa21ea43c1",
          "threadId": "19a74efa21ea43c1",
          "labelIds": [
            "UNREAD",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 20966,
          "headers": {
            "delivered-to": "Delivered-To: franchisetrfa@gmail.com",
            "received": "Received: by mx.zohomail.com with SMTPS id 1762898446144872.8637470572212;\r\n\tTue, 11 Nov 2025 14:00:46 -0800 (PST)",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFfYcd4GTJm0BJsermCvX/V43oHRemQ+f5Ye/hyB1KFs/GMJxBl3XCeHHf5+RnEk5Lqy0mj",
            "x-received": "X-Received: by 2002:a05:6a21:6da6:b0:352:eede:89e7 with SMTP id adf61e73a8af0-3590b828890mr737459637.52.1762898453498;\r\n        Tue, 11 Nov 2025 14:00:53 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1762898450; cv=none; \r\n\td=zohomail.com; s=zohoarc; \r\n\tb=UDRJ3D3Ig/DQSoCu0BVS9hUf/w1+jiA8xxL1jdC///+oyZqpHYszWXbYflCRh1/TF9ZZhVRpyRvPVnpur981JzX8TM2p/c6TzbweAVj6FP+I0tIFfFU5LVcuFhcizwm6JBAYS3wtMaGzLoHHYYl/lIXzqhK0Be8tZfedmG+2azE=",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=zohomail.com; s=zohoarc; \r\n\tt=1762898450; h=Content-Type:Content-Transfer-Encoding:Date:Date:From:From:In-Reply-To:MIME-Version:Message-ID:References:Subject:Subject:To:To:Message-Id:Reply-To:Cc; \r\n\tbh=SvP1Nb8gQGyrAGaiNz+4HqUNJzv7K7PQSQ5CiAlGk9I=; \r\n\tb=h+i4jrQjVcf1nVG1uXhMqGu8uiZoSSzYVXXv4fi3jzSo2v3qVsN02n/79LVyjwjIDj5rlkhtKx5u/rJ6qinAvBTIhiuguDdY43/ToLu+0d+XsEDM70o/f+d8ABqS4mOkYZiRNLknozZFrMAI1GNriIGpeJ5EVPbH3+Bx24dk9Wo=",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.zohomail.com;\r\n\tdkim=pass  header.i=therealfoodacademy.com;\r\n\tspf=pass  smtp.mailfrom=franchise@therealfoodacademy.com;\r\n\tdmarc=pass header.from=<franchise@therealfoodacademy.com>",
            "return-path": "Return-Path: <franchise@therealfoodacademy.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of franchise@therealfoodacademy.com designates 136.143.188.12 as permitted sender) client-ip=136.143.188.12;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@therealfoodacademy.com header.s=default header.b=OXXqRhex;\r\n       arc=pass (i=1 spf=pass spfdomain=therealfoodacademy.com dkim=pass dkdomain=therealfoodacademy.com dmarc=pass fromdomain=therealfoodacademy.com>);\r\n       spf=pass (google.com: domain of franchise@therealfoodacademy.com designates 136.143.188.12 as permitted sender) smtp.mailfrom=franchise@therealfoodacademy.com;\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=therealfoodacademy.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/relaxed; t=1762898450;\r\n\ts=default; d=therealfoodacademy.com;\r\n\ti=franchise@therealfoodacademy.com;\r\n\th=Message-ID:Date:Date:MIME-Version:Subject:Subject:To:To:References:From:From:In-Reply-To:Content-Type:Content-Transfer-Encoding:Message-Id:Reply-To:Cc;\r\n\tbh=SvP1Nb8gQGyrAGaiNz+4HqUNJzv7K7PQSQ5CiAlGk9I=;\r\n\tb=OXXqRhexV/7CrMZxutcpv3qMizpxKVqHa6yC3ME9b6OuYRlchxZCPz1PAImkTNGT\r\n\tueu9lUiJuXmBMcEpXzNE5uCVTBH6nqPchzW0hUcfrFf5GHG6/lWlAMwCYVVynmrEAOq\r\n\tKfgbgxm1HfSCtbT/eEIA5z8rNPJNh4/B4pfyB6eM=",
            "message-id": "Message-ID: <2fe2d062-462d-4eca-bb2e-af4fb7518074@therealfoodacademy.com>",
            "date": "Date: Tue, 11 Nov 2025 17:00:45 -0500",
            "mime-version": "MIME-Version: 1.0",
            "user-agent": "User-Agent: Mozilla Thunderbird",
            "subject": "Subject: Fwd: Territory Check from IFPG Member Caleb Kenner for Multiple\r\n Franchises",
            "to": "To: franchisetrfa@gmail.com",
            "references": "References: <EE.7C.29647.BFFA3196@i-05c9fbd5cfe3348c2.mta1vsmtp.sd.prd.sparkpost>",
            "from": "From: Arthur Cummins <franchise@therealfoodacademy.com>",
            "in-reply-to": "In-Reply-To: <EE.7C.29647.BFFA3196@i-05c9fbd5cfe3348c2.mta1vsmtp.sd.prd.sparkpost>",
            "x-forwarded-message-id": "X-Forwarded-Message-Id: <EE.7C.29647.BFFA3196@i-05c9fbd5cfe3348c2.mta1vsmtp.sd.prd.sparkpost>",
            "content-type": "Content-Type: text/html; charset=UTF-8",
            "content-transfer-encoding": "Content-Transfer-Encoding: quoted-printable",
            "x-antivirus": "X-Antivirus: Avast (VPS 251111-22, 11/11/2025), Outbound message",
            "x-antivirus-status": "X-Antivirus-Status: Clean",
            "x-zohomailclient": "X-ZohoMailClient: External"
          },
          "html": "<HTML><BODY><BR><BR>-------- Forwarded Message --------<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=0 class=\"moz-email-headers-table\"><TR><TH VALIGN=BASELINE ALIGN=RIGHT NOWRAP>Subject: </TH><TD>Territory Check from IFPG Member Caleb Kenner for Multiple Franchises</TD></TR><TR><TH VALIGN=BASELINE ALIGN=RIGHT NOWRAP>Date: </TH><TD>Tue, 11 Nov 2025 21:51:55 +0000</TD></TR><TR><TH VALIGN=BASELINE ALIGN=RIGHT NOWRAP>From: </TH><TD>do-not-reply@ifpg.org</TD></TR><TR><TH VALIGN=BASELINE ALIGN=RIGHT NOWRAP>Reply-To: </TH><TD>caleb@franchiseforward.com</TD></TR><TR><TH VALIGN=BASELINE ALIGN=RIGHT NOWRAP>To: </TH><TD>franchise@therealfoodacademy.com</TD></TR></TABLE>\n<BR><BR><!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<style type=\"text/css\">\nBODY {\n\tMARGIN-TOP: 10px;\n\tMARGIN-BOTTOM: 10px;\n\tMARGIN-LEFT: 10px;\n\tMARGIN-RIGHT: 10px;\n\tFONT-SIZE: 12px;\n\tFONT-FAMILY: arial,helvetica,sans-serif;\n\tPADDING: 0px;\n}\nTD {\n\tFONT-SIZE: 12px;\n\tFONT-FAMILY: arial,helvetica,sans-serif;\n\tCOLOR: #000000;\n}\nTH {\n\tFONT-SIZE: 13px;\n\tFONT-FAMILY: arial,helvetica,sans-serif;\n}\nH1 {\n    FONT-SIZE: 20px;\n}\nTABLE,IMG,A {\n\tBORDER: 0px;\n}\n</style>\n</head>\n<body>\n<div style=\"color:transparent;visibility:hidden;opacity:0;font-size:0px;border:0;max-height:1px;width:1px;margin:0px;padding:0px;border-width:0px!important;display:none!important;line-height:0px!important;\"><img border=\"0\" width=\"1\" height=\"1\" src=\"http://click.ifpg.net/q/kV3WphmZ6fGSHcmRN4mPww~~/AABPchA~/bSOgDoeQLjrJM3GFgCV6nXF6m7W2okTAKHREuw7mOxjBs8xkVi7ZiEJVRsEQdHTpECroyuPN1MIHpjbffoF5CmrXd_t0m4Gb6H42HL5pfrQ~\" alt=\"\"/></div>\n\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\" />\n  <meta name=\"robots\" content=\"none\" />\n  <title></title>\n</head>\n<body>\n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"23\" background=\"https://member.ifpg.org/email-images/color-bar-long.gif\">\n  <tbody>\n    <tr>\n      <td></td>\n    </tr>\n  </tbody>\n  </table>\n  <br />\n  <center>\n    <table width=\"100%\" cellpadding=\"10\" cellspacing=\"10\" border=\"0\" align=\"center\">\n    <tr>\n      <td>\n        <a href=\"http://click.ifpg.net/f/a/x1Bl5xWCy3TXqmIerWl59g~~/AABPchA~/kG4LE9MjeZ41RnqTQfDoMNR0Un2zDO_bOX1Ud-prPbjBLh61lHPulGXPEGPGqN2ew38cff0GzWXOzZAOTaVQ1CMCjSkNQnxrTNkSlAYFS3hwqhGw1UpZo__dmW5eVQ5T\" style=\"text-decoration: none; font-weight: bold; color: #1f678c; font-family: Arial, sans-serif; font-size: 14px;\">\n          <img src=\"mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.2&filename=ifpg-logo-email.gif\" style=\"border: 0px;\" />\n        </a>\n                  <br />\n          <font cloass=\"footer\">\n            <a href=\"http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~\" class=\"toplink\" style=\"font-size: 13px; font-weight: normal; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">IFPG Inbox</a>\n|  <a href=\"http://click.ifpg.net/f/a/ukB9laN_s0jPK0VQhur_zg~~/AABPchA~/wV3nIljtfbUnit-XSsVGpij750Mg6hXnrR_mA-5BvLLgFwbFavDI7GNd4LvghmKRdn7TyHc6G7bPJwWMYsKpf8eqEEKQVHXO9xVJD7MsEklL7UZRplnvunXa93vTziOryIGhJCxmhXz7plUgv21sVA~~\" class=\"toplink\" style=\"font-size: 13px; font-weight: normal; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">Lead Feed</a>\n|  <a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\" class=\"toplink\" style=\"font-size: 13px; font-weight: normal; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">Edit Franchise Listing</a></font>\n          </font>\n          <br /><br /><br />\n                <font class=\"alltext\" style=\"font-weight: normal; color: #333333; font-family: Arial, sans-serif; font-size: 14px;\">\n            <div style=\"color: #d41717;font-weight: bold;\">\n  * * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *\n</div>\n  <a href=\"http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~\" style=\"\n  max-width: 419px;\n  min-width: 300px;\n  background: #ea0000;\n  color: #ffffff;\n  text-align: center;\n  padding: 10px 5px;\n  font-weight: bold;\n  border: 2px solid #909090;\n  margin: 12px 0 20px 0;\n  display: block;\n  text-decoration: none;\n  font-size: 17px;\n\">CLICK HERE TO REPLY</a>\n<table width=\"80%\" cellpadding=\"10\" cellspacing=\"10\" border=\"0\">\n<tr>\n  <td width=\"10%\" align=\"center\">\n    <center>\n      <a href=\"http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\" class=\"footerlink\" style=\"font-size: 11px; font-weight: normal; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">\n        <img src=\"mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.3&filename=FF85.jpg\" width=\"120\" height=\"120\" border=\"1\" bordercolor=\"#eeeeee\"/>\n      </a>\n    </center>\n  </td>\n  <td width=\"90%\">\n    <font class=\"alltext\" style=\"font-weight: normal; color: #333333; font-family: Arial, sans-serif; font-size: 14px;\">\n      <h2 style=\"padding: 0px; line-height: normal; font-weight: bold; color: #094d8d; font-family: Arial, sans-serif; font-size: 16px;\">\n                                      Territory Check from IFPG Member Caleb Kenner for The Real Food Academy\n                        </h2>\n    </font>\n  </td>\n</tr>\n<tr>\n  <td colspan=\"2\">\n    <b>Candidate: Mike Fetherston</b>\n  </td>\n</tr>\n<tr>\n  <td colspan=\"2\">\n        <a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\">\n      <img src=\"mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.4&filename=The-Real-Food-Academy-300px.jpg\" width=\"125\" border=\"0\" />\n    </a>\n        <br /><br />\n    <font class=\"alltext\" style=\"font-weight: normal; color: #333333; font-family: Arial, sans-serif; font-size: 14px;\">\n      <strong style=\"font-weight: bold; color: #555555; font-family: Arial, sans-serif; font-size: 14px;\">\n              Territory Check from Caleb Kenner for The Real Food Academy:\n            </strong>\n      <br /><br />\n      Prospect Name: Mike Fetherston -- Tcheck for: Wayne, NJ (zip 07470) - would be open to anywhere in northern NJ or NY\n      <br />\n              <a href=\"http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~\" style=\"\n  max-width: 419px;\n  min-width: 300px;\n  background: #ea0000;\n  color: #ffffff;\n  text-align: center;\n  padding: 10px 5px;\n  font-weight: bold;\n  border: 2px solid #909090;\n  margin: 12px 0 20px 0;\n  display: block;\n  text-decoration: none;\n  font-size: 17px;\n\">CLICK HERE TO REPLY</a>\n        <div style=\"color: #d41717;font-weight: bold;\">\n  * * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *\n</div>\n            <br />\n      Caleb Kenner<br />\n      Phone: (402) 768-8166<br />\n            <br />\n      <table bgcolor=\"e2ecfb\" cellpadding=\"0\" cellspacing=\"10\" border=\"0\">\n      <tr>\n        <td colspan=\"2\">\n          <font class=\"alltext\" style=\"font-weight: normal; color: #333333; font-family: Arial, sans-serif; font-size: 13px;\">To learn more Caleb Kenner visit</font> <a href=\"http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\" class=\"footerlink\" style=\"font-size: 13px; font-weight: bold; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">Caleb's IFPG Member Profile.</a><br />\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\">\n          <img src=\"mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.3&filename=FF85.jpg\" width=\"45\" border=\"1\" bordercolor=\"#eeeeee\"/>\n        </td>\n        <td bgcolor=\"1f465f\" align=\"center\">\n          <a href=\"http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\" class=\"footerlink\" style=\"font-size: 13px; font-weight: bold; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none;\">IFPG Member Profile ></a>\n        </td>\n      </tr>\n      </table>\n            <br /><br /><br />\n      <strong style=\"font-weight: bold; color: #555555; font-family: Arial, sans-serif; font-size: 14px;\">OTHER INFORMATION:</strong><br />\n      <hr /><br />\n      <table bgcolor=\"eeeeee\" cellpadding=\"0\" cellspacing=\"10\" border=\"0\">\n      <tr>\n        <td colspan=\"2\">\n          <strong style=\"font-weight: bold; color: #555555; font-family: Arial, sans-serif; font-size: 14px;\">Is your IFPG Franchise listing up to date?</strong><br />\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\">\n          <a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\"><img src=\"mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.5&filename=xctmpS5VIAJ.png\" width=\"100\" border=\"0\" bordercolor=\"#eeeeee\"/></a> </td><td bgcolor=\"666666\" align=\"center\"><a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\" style=\"font-size: 13px; font-weight: bold; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none;\">Update Your Listing ></a><br /><a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\" style=\"font-size: 11px; font-weight: normal; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none;\">Log in now ></a>\n        </td>\n      </tr>\n      </table>\n          </font>\n  </td>\n</tr>\n</table>\n        </font>\n      </td>\n    </tr>\n    </table>\n       <table width=\"100%\" cellpadding=\"10\" cellspacing=\"10\" border=\"0\" align=\"center\" bgcolor=\"f4f0e7\">\n    <tr>\n      <td>\n        <font class=\"footer\" style=\"font-weight: normal; color: #666666; font-family: Arial, sans-serif; font-size: 11px;\">\n            If you would like to change the email address for notifications like this <a href=\"http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~\" class=\"footerlink\" style=\"font-size: 11px; font-weight: normal; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">log in to your IFPG Member account</a> and click on \"Edit Your Listing.\" <a href=\"http://click.ifpg.net/f/a/l4Cl-N7bSdjR9OKWvVtgnA~~/AABPchA~/fSlenZgmCMYqisn9SP2oZ9lar5UhcVFDmj8tuo1HKh6HRfMU9dRNJ3Ch4TJZdF9XKGfzENLTOEUjLW7Q-KECPmATX6FYA_UxG_N5udvyRG8U7P9mJRSaiqrXUcFURpLqyDAXwcvziXV1JtXCn0bUTEp8VHmcCPhtVza_hvgFsCcQ-54UNeGBLxtMvNiDlGAj\" class=\"footerlink\" style=\"font-size: 11px; font-weight: normal; font-family: Arial, sans-serif; color: #1f678c; text-decoration: none;\">Click here</a> if you have forgotten your password. If you do not have a login for IFPG please contact us at (888) 977-IFPG ext 101.\n        </font>\n      </td>\n    </tr>\n    </table>\n      </center>\n<div id=\"DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2\"><br /><table style=\"border-top: 1px solid #D3D4DE;\"><tr><td style=\"width: 55px; padding-top: 13px;\"><a href=\"https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclient\" target=\"_blank\"><img src=\"https://s-install.avcdn.net/ipm/preview/icons/icon-envelope-tick-round-orange-animated-no-repeat-v1.gif\" alt=\"\" width=\"46\" height=\"29\" style=\"width: 46px; height: 29px;\"/></a></td><td style=\"width: 470px; padding-top: 12px; color: #41424e; font-size: 13px; font-family: Arial, Helvetica, sans-serif; line-height: 18px;\">Virus-free.<a href=\"https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclient\" target=\"_blank\" style=\"color: #4453ea;\">www.avast.com</a></td></tr></table><a href=\"#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2\" width=\"1\" height=\"1\"> </a></div></body>\n</html>\n\n<img border=\"0\" width=\"1\" height=\"1\" alt=\"\" src=\"http://click.ifpg.net/q/LTCOwTacqS7mh5JPoJkEZg~~/AABPchA~/ozFk_HsPC_qW5madkUAJV7ZNnDIDUbbmVawV_7g_f-I1y-tsF3LRjesCJk1k-4_WKtxVxfbS7Wtdo8hYrZ1oVkxTagvMDpUvTA9a1gfZyVo~\">\n</body>\n</html>\n\n\n\n",
          "text": "\n\n-------- Forwarded Message --------\n\nSubject: Territory Check from IFPG Member Caleb Kenner for Multiple\nFranchisesDate: Tue, 11 Nov 2025 21:51:55 +0000From:\ndo-not-reply@ifpg.orgReply-To: caleb@franchiseforward.comTo:\nfranchise@therealfoodacademy.com\n\n\n\n[http://click.ifpg.net/q/kV3WphmZ6fGSHcmRN4mPww~~/AABPchA~/bSOgDoeQLjrJM3GFgCV6nXF6m7W2okTAKHREuw7mOxjBs8xkVi7ZiEJVRsEQdHTpECroyuPN1MIHpjbffoF5CmrXd_t0m4Gb6H42HL5pfrQ~]\n\n\n\n\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.2&filename=ifpg-logo-email.gif]\nhttp://click.ifpg.net/f/a/x1Bl5xWCy3TXqmIerWl59g~~/AABPchA~/kG4LE9MjeZ41RnqTQfDoMNR0Un2zDO_bOX1Ud-prPbjBLh61lHPulGXPEGPGqN2ew38cff0GzWXOzZAOTaVQ1CMCjSkNQnxrTNkSlAYFS3hwqhGw1UpZo__dmW5eVQ5T\nIFPG Inbox\n[http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~]\n| Lead Feed\n[http://click.ifpg.net/f/a/ukB9laN_s0jPK0VQhur_zg~~/AABPchA~/wV3nIljtfbUnit-XSsVGpij750Mg6hXnrR_mA-5BvLLgFwbFavDI7GNd4LvghmKRdn7TyHc6G7bPJwWMYsKpf8eqEEKQVHXO9xVJD7MsEklL7UZRplnvunXa93vTziOryIGhJCxmhXz7plUgv21sVA~~]\n| Edit Franchise Listing\n[http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~]\n\n\n\n* * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *\nCLICK HERE TO REPLY\n[http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~]\n\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.3&filename=FF85.jpg]\nhttp://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\n\n\nTERRITORY CHECK FROM IFPG MEMBER CALEB KENNER FOR THE REAL FOOD ACADEMY\n\nCandidate: Mike Fetherston\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.4&filename=The-Real-Food-Academy-300px.jpg]\nhttp://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\n\nTerritory Check from Caleb Kenner for The Real Food Academy:\n\nProspect Name: Mike Fetherston -- Tcheck for: Wayne, NJ (zip 07470) - would be\nopen to anywhere in northern NJ or NY\nCLICK HERE TO REPLY\n[http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~]\n* * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *\n\nCaleb Kenner\nPhone: (402) 768-8166\n\n\n\nTo learn more Caleb Kenner visit Caleb's IFPG Member Profile.\n[http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~]\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.3&filename=FF85.jpg]\nIFPG Member Profile >\n[http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~]\n\n\n\n\nOTHER INFORMATION:\n\n\n--------------------------------------------------------------------------------\n\n\nIs your IFPG Franchise listing up to date?\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.5&filename=xctmpS5VIAJ.png]http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\nUpdate Your Listing >\n[http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~]\nLog in now >\n[http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~]\n\nIf you would like to change the email address for notifications like this log in\nto your IFPG Member account\n[http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~]\nand click on \"Edit Your Listing.\" Click here\n[http://click.ifpg.net/f/a/l4Cl-N7bSdjR9OKWvVtgnA~~/AABPchA~/fSlenZgmCMYqisn9SP2oZ9lar5UhcVFDmj8tuo1HKh6HRfMU9dRNJ3Ch4TJZdF9XKGfzENLTOEUjLW7Q-KECPmATX6FYA_UxG_N5udvyRG8U7P9mJRSaiqrXUcFURpLqyDAXwcvziXV1JtXCn0bUTEp8VHmcCPhtVza_hvgFsCcQ-54UNeGBLxtMvNiDlGAj]\nif you have forgotten your password. If you do not have a login for IFPG please\ncontact us at (888) 977-IFPG ext 101.\n\n\n\n\n[https://s-install.avcdn.net/ipm/preview/icons/icon-envelope-tick-round-orange-animated-no-repeat-v1.gif]https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclientVirus-free.www.avast.com\n[https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclient]\n\n[http://click.ifpg.net/q/LTCOwTacqS7mh5JPoJkEZg~~/AABPchA~/ozFk_HsPC_qW5madkUAJV7ZNnDIDUbbmVawV_7g_f-I1y-tsF3LRjesCJk1k-4_WKtxVxfbS7Wtdo8hYrZ1oVkxTagvMDpUvTA9a1gfZyVo~]",
          "textAsHtml": "<p>-------- Forwarded Message --------</p><p>Subject: Territory Check from IFPG Member Caleb Kenner for Multiple<br/>FranchisesDate: Tue, 11 Nov 2025 21:51:55 +0000From:<br/>do-not-reply@ifpg.orgReply-To: caleb@franchiseforward.comTo:<br/><a href=\"mailto:franchise@therealfoodacademy.com\">franchise@therealfoodacademy.com</a></p><p>[<a href=\"http://click.ifpg.net/q/kV3WphmZ6fGSHcmRN4mPww~~/AABPchA~/bSOgDoeQLjrJM3GFgCV6nXF6m7W2okTAKHREuw7mOxjBs8xkVi7ZiEJVRsEQdHTpECroyuPN1MIHpjbffoF5CmrXd_t0m4Gb6H42HL5pfrQ~\">http://click.ifpg.net/q/kV3WphmZ6fGSHcmRN4mPww~~/AABPchA~/bSOgDoeQLjrJM3GFgCV6nXF6m7W2okTAKHREuw7mOxjBs8xkVi7ZiEJVRsEQdHTpECroyuPN1MIHpjbffoF5CmrXd_t0m4Gb6H42HL5pfrQ~</a>]</p><p>[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&amp;part=1.2&amp;filename=ifpg-logo-email.gif]<br/><a href=\"http://click.ifpg.net/f/a/x1Bl5xWCy3TXqmIerWl59g~~/AABPchA~/kG4LE9MjeZ41RnqTQfDoMNR0Un2zDO_bOX1Ud-prPbjBLh61lHPulGXPEGPGqN2ew38cff0GzWXOzZAOTaVQ1CMCjSkNQnxrTNkSlAYFS3hwqhGw1UpZo__dmW5eVQ5T\">http://click.ifpg.net/f/a/x1Bl5xWCy3TXqmIerWl59g~~/AABPchA~/kG4LE9MjeZ41RnqTQfDoMNR0Un2zDO_bOX1Ud-prPbjBLh61lHPulGXPEGPGqN2ew38cff0GzWXOzZAOTaVQ1CMCjSkNQnxrTNkSlAYFS3hwqhGw1UpZo__dmW5eVQ5T</a><br/>IFPG Inbox<br/>[<a href=\"http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~\">http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~</a>]<br/>| Lead Feed<br/>[<a href=\"http://click.ifpg.net/f/a/ukB9laN_s0jPK0VQhur_zg~~/AABPchA~/wV3nIljtfbUnit-XSsVGpij750Mg6hXnrR_mA-5BvLLgFwbFavDI7GNd4LvghmKRdn7TyHc6G7bPJwWMYsKpf8eqEEKQVHXO9xVJD7MsEklL7UZRplnvunXa93vTziOryIGhJCxmhXz7plUgv21sVA~~\">http://click.ifpg.net/f/a/ukB9laN_s0jPK0VQhur_zg~~/AABPchA~/wV3nIljtfbUnit-XSsVGpij750Mg6hXnrR_mA-5BvLLgFwbFavDI7GNd4LvghmKRdn7TyHc6G7bPJwWMYsKpf8eqEEKQVHXO9xVJD7MsEklL7UZRplnvunXa93vTziOryIGhJCxmhXz7plUgv21sVA~~</a>]<br/>| Edit Franchise Listing<br/>[<a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\">http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~</a>]</p><p>* * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *<br/>CLICK HERE TO REPLY<br/>[<a href=\"http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~\">http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~</a>]</p><p>[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&amp;part=1.3&amp;filename=FF85.jpg]<br/><a href=\"http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\">http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~</a></p><p>TERRITORY CHECK FROM IFPG MEMBER CALEB KENNER FOR THE REAL FOOD ACADEMY</p><p>Candidate: Mike Fetherston<br/>[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&amp;part=1.4&amp;filename=The-Real-Food-Academy-300px.jpg]<br/><a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\">http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~</a></p><p>Territory Check from Caleb Kenner for The Real Food Academy:</p><p>Prospect Name: Mike Fetherston -- Tcheck for: Wayne, NJ (zip 07470) - would be<br/>open to anywhere in northern NJ or NY<br/>CLICK HERE TO REPLY<br/>[<a href=\"http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~\">http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~</a>]<br/>* * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *</p><p>Caleb Kenner<br/>Phone: (402) 768-8166</p><p>To learn more Caleb Kenner visit Caleb&apos;s IFPG Member Profile.<br/>[<a href=\"http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\">http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~</a>]<br/>[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&amp;part=1.3&amp;filename=FF85.jpg]<br/>IFPG Member Profile &gt;<br/>[<a href=\"http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\">http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~</a>]</p><p>OTHER INFORMATION:</p><p>--------------------------------------------------------------------------------</p><p>Is your IFPG Franchise listing up to date?<br/>[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&amp;part=1.5&amp;filename=xctmpS5VIAJ.png]<a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\">http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~</a><br/>Update Your Listing &gt;<br/>[<a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\">http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~</a>]<br/>Log in now &gt;<br/>[<a href=\"http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\">http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~</a>]</p><p>If you would like to change the email address for notifications like this log in<br/>to your IFPG Member account<br/>[<a href=\"http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~\">http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~</a>]<br/>and click on &quot;Edit Your Listing.&quot; Click here<br/>[<a href=\"http://click.ifpg.net/f/a/l4Cl-N7bSdjR9OKWvVtgnA~~/AABPchA~/fSlenZgmCMYqisn9SP2oZ9lar5UhcVFDmj8tuo1HKh6HRfMU9dRNJ3Ch4TJZdF9XKGfzENLTOEUjLW7Q-KECPmATX6FYA_UxG_N5udvyRG8U7P9mJRSaiqrXUcFURpLqyDAXwcvziXV1JtXCn0bUTEp8VHmcCPhtVza_hvgFsCcQ-54UNeGBLxtMvNiDlGAj\">http://click.ifpg.net/f/a/l4Cl-N7bSdjR9OKWvVtgnA~~/AABPchA~/fSlenZgmCMYqisn9SP2oZ9lar5UhcVFDmj8tuo1HKh6HRfMU9dRNJ3Ch4TJZdF9XKGfzENLTOEUjLW7Q-KECPmATX6FYA_UxG_N5udvyRG8U7P9mJRSaiqrXUcFURpLqyDAXwcvziXV1JtXCn0bUTEp8VHmcCPhtVza_hvgFsCcQ-54UNeGBLxtMvNiDlGAj</a>]<br/>if you have forgotten your password. If you do not have a login for IFPG please<br/>contact us at (888) 977-IFPG ext 101.</p><p>[<a href=\"https://s-install.avcdn.net/ipm/preview/icons/icon-envelope-tick-round-orange-animated-no-repeat-v1.gif\">https://s-install.avcdn.net/ipm/preview/icons/icon-envelope-tick-round-orange-animated-no-repeat-v1.gif</a>]<a href=\"https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclientVirus-free.www.avast.com\">https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclientVirus-free.www.avast.com</a><br/>[<a href=\"https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclient\">https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=emailclient</a>]</p><p>[<a href=\"http://click.ifpg.net/q/LTCOwTacqS7mh5JPoJkEZg~~/AABPchA~/ozFk_HsPC_qW5madkUAJV7ZNnDIDUbbmVawV_7g_f-I1y-tsF3LRjesCJk1k-4_WKtxVxfbS7Wtdo8hYrZ1oVkxTagvMDpUvTA9a1gfZyVo~\">http://click.ifpg.net/q/LTCOwTacqS7mh5JPoJkEZg~~/AABPchA~/ozFk_HsPC_qW5madkUAJV7ZNnDIDUbbmVawV_7g_f-I1y-tsF3LRjesCJk1k-4_WKtxVxfbS7Wtdo8hYrZ1oVkxTagvMDpUvTA9a1gfZyVo~</a>]</p>",
          "subject": "Fwd: Territory Check from IFPG Member Caleb Kenner for Multiple Franchises",
          "references": "<EE.7C.29647.BFFA3196@i-05c9fbd5cfe3348c2.mta1vsmtp.sd.prd.sparkpost>",
          "date": "2025-11-11T22:00:45.000Z",
          "to": {
            "value": [
              {
                "address": "franchisetrfa@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:franchisetrfa@gmail.com\" class=\"mp_address_email\">franchisetrfa@gmail.com</a></span>",
            "text": "franchisetrfa@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "franchise@therealfoodacademy.com",
                "name": "Arthur Cummins"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Arthur Cummins</span> &lt;<a href=\"mailto:franchise@therealfoodacademy.com\" class=\"mp_address_email\">franchise@therealfoodacademy.com</a>&gt;</span>",
            "text": "\"Arthur Cummins\" <franchise@therealfoodacademy.com>"
          },
          "messageId": "<2fe2d062-462d-4eca-bb2e-af4fb7518074@therealfoodacademy.com>",
          "inReplyTo": "<EE.7C.29647.BFFA3196@i-05c9fbd5cfe3348c2.mta1vsmtp.sd.prd.sparkpost>"
        }
      }
    ],
    "Extract Fields": [
      {
        "json": {
          "emailId": "19a74efa21ea43c1",
          "emailSubject": "Fwd: Territory Check from IFPG Member Caleb Kenner for Multiple Franchises",
          "emailBody": "\n\n-------- Forwarded Message --------\n\nSubject: Territory Check from IFPG Member Caleb Kenner for Multiple\nFranchisesDate: Tue, 11 Nov 2025 21:51:55 +0000From:\ndo-not-reply@ifpg.orgReply-To: caleb@franchiseforward.comTo:\nfranchise@therealfoodacademy.com\n\n\n\n[http://click.ifpg.net/q/kV3WphmZ6fGSHcmRN4mPww~~/AABPchA~/bSOgDoeQLjrJM3GFgCV6nXF6m7W2okTAKHREuw7mOxjBs8xkVi7ZiEJVRsEQdHTpECroyuPN1MIHpjbffoF5CmrXd_t0m4Gb6H42HL5pfrQ~]\n\n\n\n\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.2&filename=ifpg-logo-email.gif]\nhttp://click.ifpg.net/f/a/x1Bl5xWCy3TXqmIerWl59g~~/AABPchA~/kG4LE9MjeZ41RnqTQfDoMNR0Un2zDO_bOX1Ud-prPbjBLh61lHPulGXPEGPGqN2ew38cff0GzWXOzZAOTaVQ1CMCjSkNQnxrTNkSlAYFS3hwqhGw1UpZo__dmW5eVQ5T\nIFPG Inbox\n[http://click.ifpg.net/f/a/jULyme62Yhm7hcprdWuoqQ~~/AABPchA~/UVNadI4qyz3g4zetuNR6pVfLsmyQX9AKBkWRDnaI0JGX8ps-U_-R4kx9zW2DRBvwEdZARtMLAOM1hcrSxPGTJfTjb3MrQH8guinJZvonTJymjENW5qatb2y6HB1KLfT4f1vaGENYuMBygpSXE25afw~~]\n| Lead Feed\n[http://click.ifpg.net/f/a/ukB9laN_s0jPK0VQhur_zg~~/AABPchA~/wV3nIljtfbUnit-XSsVGpij750Mg6hXnrR_mA-5BvLLgFwbFavDI7GNd4LvghmKRdn7TyHc6G7bPJwWMYsKpf8eqEEKQVHXO9xVJD7MsEklL7UZRplnvunXa93vTziOryIGhJCxmhXz7plUgv21sVA~~]\n| Edit Franchise Listing\n[http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~]\n\n\n\n* * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *\nCLICK HERE TO REPLY\n[http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~]\n\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.3&filename=FF85.jpg]\nhttp://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~\n\n\nTERRITORY CHECK FROM IFPG MEMBER CALEB KENNER FOR THE REAL FOOD ACADEMY\n\nCandidate: Mike Fetherston\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.4&filename=The-Real-Food-Academy-300px.jpg]\nhttp://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\n\nTerritory Check from Caleb Kenner for The Real Food Academy:\n\nProspect Name: Mike Fetherston -- Tcheck for: Wayne, NJ (zip 07470) - would be\nopen to anywhere in northern NJ or NY\nCLICK HERE TO REPLY\n[http://click.ifpg.net/f/a/QEqJeQYSocKTIX10gUTp3w~~/AABPchA~/qBZhdvCvR5lefWSTVD86b-zHSco4dXWC6MKVBX1EnU-AKqzrYFOsjDw7VTW0jTNGcmA2lVlFm-BO8m1cCZ3uNu6oCJglPMHhHxLz5RW-CK9BiEHhYth8wNm6UEa_eDTjjAcFlSWnujqbNpMB87yF85LYnHYa0xuUsujiF6QPxcaPdKLr88jVsAuK-n6B_wLS5pR98K_Bp9UnE-U9RqPKkg~~]\n* * * DO NOT REPLY TO THIS EMAIL - USE THE REPLY BUTTON ONLY * * *\n\nCaleb Kenner\nPhone: (402) 768-8166\n\n\n\nTo learn more Caleb Kenner visit Caleb's IFPG Member Profile.\n[http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~]\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.3&filename=FF85.jpg]\nIFPG Member Profile >\n[http://click.ifpg.net/f/a/oqTpwnnhQo6aeckiHXkfsA~~/AABPchA~/TjrwEf8ZkjxfApfGtDZxydqhnUhqO6Q6J2QzunqvxKQGQoi4rhjyRpCbvsQuXDujJRfCuvkF72OozLLV1Kn6hJiG1HuKboWGtv3gaOy80FUw2-wvzCGSZ22ScIvIi4XpfbdTq9eThBCP7oiTWVYLew~~]\n\n\n\n\nOTHER INFORMATION:\n\n\n--------------------------------------------------------------------------------\n\n\nIs your IFPG Franchise listing up to date?\n[mailbox:///C:/Users/Arthur/AppData/Roaming/Thunderbird/Profiles/50vee7s3.default-release/Mail/pop.zoho-2.com/Inbox.sbd/_TERRITORY%20CHECK-IFPG?number=25&part=1.5&filename=xctmpS5VIAJ.png]http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~\nUpdate Your Listing >\n[http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTpOw~~/AABPchA~/uglQs8D5S5va20QIjGAsSD8eH13Greryf63jOf0_oDwM2HJf1haY5ZSO-2gJotdo88Vg8ZOXsLUxNrxRl-of5j6h25S-xorMk9d8fGmFxeYdDibCAVoK_0tffLD36pWGb5fP1vABH2PMx_eYB9CjKmkDAvimlnKXJcrOIvvPH48~]\nLog in now >\n[http://click.ifpg.net/f/a/GjCC8qXZ7JjKMBS8apTp",
          "emailFrom": {
            "value": [
              {
                "address": "franchise@therealfoodacademy.com",
                "name": "Arthur Cummins"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Arthur Cummins</span> &lt;<a href=\"mailto:franchise@therealfoodacademy.com\" class=\"mp_address_email\">franchise@therealfoodacademy.com</a>&gt;</span>",
            "text": "\"Arthur Cummins\" <franchise@therealfoodacademy.com>"
          },
          "emailDate": "2025-11-11T22:00:45.000Z",
          "network": "IFPG",
          "is_territory_check": true,
          "prospect_first_name": "Mike",
          "prospect_last_name": "Fetherston",
          "prospect_name": "Mike Fetherston",
          "prospect_email": null,
          "prospect_city": null,
          "prospect_state": null,
          "prospect_zip": null,
          "territory_requested": "Wayne, NJ",
          "original_email_date": "Tue, 11 Nov 2025 21:51:55 +0000",
          "territory_check_date": "11/11/2025",
          "consultant_first_name": "Caleb",
          "consultant_last_name": "Kenner",
          "consultant_name": "Caleb Kenner",
          "consultant_email": "caleb@franchiseforward.com",
          "consultant_phone": "(402) 768-8166",
          "consultant_company": "IFPG",
          "allFieldsValid": true,
          "missingFields": [],
          "errorNotes": null,
          "extraction_notes": {
            "prospect_email_found": false,
            "prospect_email_source": "not_found",
            "network_identified": "IFPG",
            "reply_to_available": true,
            "date_extracted": true,
            "original_date_string": "Tue, 11 Nov 2025 21:51:55 +0000"
          }
        }
      }
    ],
    "Find Consultant": [
      {
        "json": {}
      }
    ],
    "Create a contact": [
      {
        "json": {
          "email": "caleb@franchiseforward.com",
          "phone": "(402) 768-8166",
          "firstName": "Caleb",
          "lastName": "Kenner",
          "cdate": "2025-11-13T12:47:59-06:00",
          "udate": "2025-11-13T12:47:59-06:00",
          "orgid": "0",
          "orgname": "",
          "links": {
            "bounceLogs": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/bounceLogs",
            "contactAutomations": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactAutomations?limit=2500&orders%5Blastdate%5D=DESC",
            "contactData": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactData",
            "contactGoals": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactGoals",
            "contactLists": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactLists",
            "contactLogs": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactLogs",
            "contactTags": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactTags",
            "contactDeals": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/contactDeals",
            "deals": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/deals",
            "fieldValues": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/fieldValues",
            "geoIps": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/geoIps",
            "notes": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/notes",
            "organization": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/organization",
            "plusAppend": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/plusAppend",
            "trackingLogs": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/trackingLogs",
            "scoreValues": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/scoreValues",
            "accountContacts": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/accountContacts",
            "automationEntryCounts": "https://YOUR_ACCOUNT.api-us1.com/api/3/contacts/CONTACT_ID/automationEntryCounts"
          },
          "fieldValues": [
            "161920",
            "161921",
            "161922",
            "161923"
          ],
          "id": "CONTACT_ID",
          "organization": null
        }
      }
    ]
  },
  "connections": {
    "-> Territory Checks": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Is Territory Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Territory Check": {
      "main": [
        [
          {
            "node": "Find Consultant",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Find Consultant": {
      "main": [
        [
          {
            "node": "Consultant Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultant Exists": {
      "main": [
        [
          {
            "node": "Get Custom Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Custom Fields": {
      "main": [
        [
          {
            "node": "Update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71177855-5922-428c-b914-7c483799c3c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a3618b1d61ff75e14c32f7cb70d6f38993326100da48466d26b149497c437dd"
  },
  "id": "gZHoQcN5bTwijo4a",
  "tags": [
    {
      "updatedAt": "2025-05-21T00:25:57.786Z",
      "createdAt": "2025-05-21T00:25:57.786Z",
      "id": "5hcZ7EUmra3ehA5v",
      "name": "TRFA"
    }
  ]
}